{
    "openapi": "3.0.0",
    "info": {
        "title": "rest",
        "description": "HiTrust ReSTful API for Portal",
        "termsOfService": "https://www.ssctech.com/",
        "contact": {
            "name": "HiTrust Support",
            "url": "https://www.ssctech.com/",
            "email": "BDT_HitrustSupport@au.dstsystems.com"
        },
        "license": {
            "name": "Proprietary",
            "url": "https://www.ssctech.com/"
        },
        "version": "12.2.0"
    },
    "servers": [
        {
            "url": "https://api.htdemo.au.dstbdemo.com",
            "description": ""
        },
        {
            "url": "https://api.htdemo.au.dstbdemo.com",
            "description": ""
        }
    ],
    "paths": {
        "/accounts": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Get the communication options for this account.",
                "description": "",
                "operationId": "AccountGetCommunicationOptions",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching Account objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Account"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target Account resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Account"
                ],
                "summary": "Update the communication options for this account.",
                "description": "",
                "operationId": "AccountSetCommunicationOptions",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Account data for PATCH request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "data": {
                                        "type": "object",
                                        "properties": {
                                            "annualReportCommunication": {
                                                "type": "string"
                                            },
                                            "annualReportElection": {
                                                "type": "string"
                                            },
                                            "noMarketing": {
                                                "type": "boolean"
                                            },
                                            "preferredCommunicationMode": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "Operation was successful but had nothing to return."
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target Account resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/addresses": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "Get all addresses associated with this investor by investor key",
                "description": "",
                "operationId": "AddressGetAddressesByKey",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "investorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching Address objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Address"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target Address resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Address"
                ],
                "summary": "Add a new address to an existing investor, returning the key.",
                "description": "",
                "operationId": "AddressCreateAddress",
                "parameters": [],
                "requestBody": {
                    "description": "Address data for PUT request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "data": {
                                        "type": "object",
                                        "properties": {
                                            "country": {
                                                "type": "string"
                                            },
                                            "defaultAddress": {
                                                "type": "boolean"
                                            },
                                            "email": {
                                                "type": "string"
                                            },
                                            "fax": {
                                                "type": "string"
                                            },
                                            "homePhone": {
                                                "type": "string"
                                            },
                                            "investorKey": {
                                                "type": "integer",
                                                "format": "int32"
                                            },
                                            "line1": {
                                                "type": "string"
                                            },
                                            "line2": {
                                                "type": "string"
                                            },
                                            "line3": {
                                                "type": "string"
                                            },
                                            "mobilePhone": {
                                                "type": "string"
                                            },
                                            "postCode": {
                                                "type": "string"
                                            },
                                            "state": {
                                                "type": "string"
                                            },
                                            "workPhone": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Operation was successful and object created. Response contains the Address object.",
                        "headers": {
                            "Location": {
                                "$ref": "#/components/headers/Location"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Address"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target Address resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "update - Update an investor's details. All fields are optional.\n",
                "description": "",
                "operationId": "AddressRootPostHandler",
                "parameters": [],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/request_addresses_post_update"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Operation was successful but had nothing to return."
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target Address resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisorfundhierarchies": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AdvisorFundHierachy"
                ],
                "summary": "Get a list of funds the given advisor manages an account in.",
                "description": "",
                "operationId": "AdvisorFundHierachyGetFunds",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "advisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AdvisorFundHierachy objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdvisorFundHierachy"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AdvisorFundHierachy resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisorfunds": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AdvisorFund"
                ],
                "summary": "Get all the funds the advisor manage a holding in.",
                "description": "",
                "operationId": "AdvisorFundGetFunds",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "advisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AdvisorFund objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdvisorFund"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AdvisorFund resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisorhierarchies": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AdvisorHierarchy"
                ],
                "summary": "Get all the lowest level advisors under level 1 and 2 for the given currency.",
                "description": "",
                "operationId": "AdvisorHierarchyGetLevel3ByCurrency",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "level1AdvisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "level2AdvisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AdvisorHierarchy objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdvisorHierarchy"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AdvisorHierarchy resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisorinvestors": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AdvisorInvestor"
                ],
                "summary": "Get all the investors serviced (currently or historically) by this advisor.",
                "description": "",
                "operationId": "AdvisorInvestorGetInvestors",
                "parameters": [
                    {
                        "name": "advisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "investorNumber",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "investorSurname",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "investorGivenName",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AdvisorInvestor objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdvisorInvestor"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AdvisorInvestor resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisorpayments": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AdvisorPayment"
                ],
                "summary": "\n\t\t\t\tGet the commission payment details. Use paymentKey to look at a specific commision payment. \n\t\t\t\tUse the returned paymentKey to get the actual payment details. \n\t\t\t\t",
                "description": "",
                "operationId": "AdvisorPaymentGetCommissionPayments",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "advisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "paymentKey",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AdvisorPayment objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdvisorPayment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AdvisorPayment resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisors": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "Advisor"
                ],
                "summary": "Get the advisor details by criteria",
                "description": "",
                "operationId": "AdvisorGetAdvisors",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "advisorName",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "surname",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "relationshipNumber",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching Advisor objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Advisor"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target Advisor resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisorsummarybyunitclasses": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AdvisorSummaryByUnitClass"
                ],
                "summary": "Get the advisors FUM at unit class level.",
                "description": "",
                "operationId": "AdvisorSummaryByUnitClassGetTotals",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "advisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AdvisorSummaryByUnitClass objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdvisorSummaryByUnitClass"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AdvisorSummaryByUnitClass resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisorsummarybyunitclasses/{currencyCode}/cuurency": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AdvisorSummaryByUnitClass"
                ],
                "summary": "Get the advisors FUM at unit class level for a specific currency only.",
                "description": "",
                "operationId": "AdvisorSummaryByUnitClassGetTotalsByCurrency",
                "parameters": [
                    {
                        "name": "currencyCode",
                        "in": "path",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "advisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a single matching AdvisorSummaryByUnitClass object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AdvisorSummaryByUnitClass"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match the AdvisorSummaryByUnitClass resource using the given identifier or one of the resources specified by a field in the request. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisorsummarylevel1s": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AdvisorSummaryLevel1"
                ],
                "summary": "Get a holding summary for the given advisor and fund.",
                "description": "",
                "operationId": "AdvisorSummaryLevel1GetSummary",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "level1AdvisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "fundKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AdvisorSummaryLevel1 objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdvisorSummaryLevel1"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AdvisorSummaryLevel1 resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisorsummarylevel2s": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AdvisorSummaryLevel2"
                ],
                "summary": "Get a list of sub-advisors and FUM.",
                "description": "",
                "operationId": "AdvisorSummaryLevel2GetSummary",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "level1AdvisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "unitClassKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AdvisorSummaryLevel2 objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdvisorSummaryLevel2"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AdvisorSummaryLevel2 resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisorsummarylevel3s": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AdvisorSummaryLevel3"
                ],
                "summary": "Get a list of level2-advisors and FUM.",
                "description": "",
                "operationId": "AdvisorSummaryLevel3GetSummary",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "level1AdvisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "level2AdvisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "unitClassKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AdvisorSummaryLevel3 objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdvisorSummaryLevel3"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AdvisorSummaryLevel3 resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/advisortotals": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AdvisorTotal"
                ],
                "summary": "Gets a breakdown of the funds managed by this advisor in different currencies.",
                "description": "",
                "operationId": "AdvisorTotalGetTotalByCurrency",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "advisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AdvisorTotal objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdvisorTotal"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AdvisorTotal resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agentaddresses": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AgentAddress"
                ],
                "summary": "Get all addresses linked to this agent",
                "description": "",
                "operationId": "AgentAddressGetAgentAddresses",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AgentAddress objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AgentAddress"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AgentAddress resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agentbankaccounts": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AgentBankAccount"
                ],
                "summary": "Get a list of bank accounts for the given advisor",
                "description": "",
                "operationId": "AgentBankAccountGetBankAccounts",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AgentBankAccount objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AgentBankAccount"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AgentBankAccount resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/annualreportelectiontypes": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "AnnualReportElectionType"
                ],
                "summary": "Gets all annual election report types for the given company.",
                "description": "",
                "operationId": "AnnualReportElectionTypeGetAnnualReportElectionTypes",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching AnnualReportElectionType objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AnnualReportElectionType"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target AnnualReportElectionType resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assignments": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "Assignment"
                ],
                "summary": "Get all the assignments for the given account.",
                "description": "",
                "operationId": "AssignmentGetAssignments",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accountKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching Assignment objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Assignment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target Assignment resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/assignments/summary": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "Assignment"
                ],
                "summary": "Get a summary of assignments for the given portfolio.",
                "description": "",
                "operationId": "AssignmentGetAssignmentSummary",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "portfolioKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching Assignment objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Assignment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target Assignment resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/bankaccounts": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "BankAccount"
                ],
                "summary": "Get a list of bank accounts for the given investor.",
                "description": "",
                "operationId": "BankAccountGetBankAccounts",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "investorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching BankAccount objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BankAccount"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target BankAccount resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "BankAccount"
                ],
                "summary": "Create a new bank account for the given investor.",
                "description": "",
                "operationId": "BankAccountAddBankAccount",
                "parameters": [],
                "requestBody": {
                    "description": "BankAccount data for PUT request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "data": {
                                        "type": "object",
                                        "properties": {
                                            "accountName": {
                                                "type": "string"
                                            },
                                            "accountNumber": {
                                                "type": "string"
                                            },
                                            "code": {
                                                "type": "string"
                                            },
                                            "company": {
                                                "type": "string"
                                            },
                                            "investorKey": {
                                                "type": "integer",
                                                "format": "int32"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Operation was successful and object created. Response contains the BankAccount object.",
                        "headers": {
                            "Location": {
                                "$ref": "#/components/headers/Location"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BankAccount"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target BankAccount resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "BankAccount"
                ],
                "summary": "Change the details of the matching bank account.",
                "description": "",
                "operationId": "BankAccountUpdateBankAccount",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "investorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "accountKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "BankAccount data for PATCH request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "data": {
                                        "type": "object",
                                        "properties": {
                                            "accountName": {
                                                "type": "string"
                                            },
                                            "accountNumber": {
                                                "type": "string"
                                            },
                                            "code": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "Operation was successful but had nothing to return."
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target BankAccount resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/bankbranches": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "BankBranch"
                ],
                "summary": "Get a full list of bank branches with BSB/code.",
                "description": "",
                "operationId": "BankBranchGetBankBranches",
                "parameters": [
                    {
                        "name": "rows",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching BankBranch objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BankBranch"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target BankBranch resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/commissionsplits": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "CommissionSplit"
                ],
                "summary": "Get's a list of the commision splits (linked to payments) for this advisor.",
                "description": "",
                "operationId": "CommissionSplitGetCommissionSplits",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "advisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "advisorPaymentKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching CommissionSplit objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CommissionSplit"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target CommissionSplit resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/commissionsummaries": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "CommissionSummary"
                ],
                "summary": "List the commission payments for the given advisor.",
                "description": "",
                "operationId": "CommissionSummaryGetCommissionSummaries",
                "parameters": [
                    {
                        "name": "company",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rows",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "fromDate",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "toDate",
                        "in": "query",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "advisorKey",
                        "in": "query",
                        "required": true,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation was successful and response contains a list of matching CommissionSummary objects. List may be empty if no match.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CommissionSummary"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/400_bad_request"
                    },
                    "401": {
                        "$ref": "#/components/responses/401_unauthorised"
                    },
                    "403": {
                        "$ref": "#/components/responses/403_forbidden"
                    },
                    "404": {
                        "description": "Operation failed to match one of the resources specified by a field in the request. The target CommissionSummary resource was valid. Any available information is provided in the response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error_message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/communicationmodes": {
            "summary": "",
            "description": "",
            "get": {
                "tags": [
                    "CommunicationMode"
                ],
                "summary": "Lists the available communication modes.",
                "description": "",
                "operationId": "CommunicationModeGetCommunicationModes",
                "parameters": [],
[...]
